button {
  height: 50px;
  width: 50px;
}
.calcBG {
  position: absolute;
  width: 100%;
  max-width: 202px;
  left: 0;
  bottom: 0;
	position: relative;
	margin: 5% auto;
	overflow: hidden;
	height:300px;
  border: 1px solid #ddd;
}
.screen {
  height: 40px;
  margin: 3.8px;
  width: 90%;
  border: none;
  font-size: 16px;
  font-weight: bold;
}